/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                    Divinarium                                                     */
/*                                                                                                                   */
/* ================================================================================================================= */

* {font-family: garamond;}

div {
	text-align: justify;
	font-size: 14px;
}
.div-exterior {
	width: 270px;
	height: 428px;
	background-image: url(Margines/II.png);
	background-size: cover;
	border: 2px brown solid;
}
.div-interior {
	width: 200px;
	margin: auto;
	padding-top: 35px;
}

.img-illustrationis {
	display: block;
	margin: auto;
}
.img-initiale {
	float: left;
	width: 46px;
	margin-right: 2px;
	margin-top: 2px;
}

.span-℟ {font-weight: bold;}
.span-titulus {
	font-weight: bold;
	font-size: 18px;
}
.span-℣ {font-style: italic;}

@media (max-width: 1000px) {

	* {font-family: garamond;}

}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                    Divinarium                                                     */
/*                                                                                                                   */
/* ================================================================================================================= */
