* {
	font-size: 30px;
	text-align: justify;
	color: #000000;
	text-shadow: 0 0 0;
	margin: auto;
}

div {
	width: 540px;
	height: 856px;
	background-image: url("margine.png");
	background-color: #ffffff;
	background-size: cover;
	margin-bottom: 20px;
}
div div {
	width: 400px;
	padding-top: 70px;
	background: none;
	border: 0;
}

img {filter: drop-shadow(0 0 0);}
.illustrationis {
	display: block;
}
.initiale {
	float: left;
	width: 119px;
	margin-right: 4px;
	margin-top: 4px;
}

.℟,
.titulus {font-weight: bold;}
.℣ {font-style: italic;}
.✠ {
	color: #990000;
	font-style: normal;
}
