/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                    Divinarium                                                     */
/*                                                                                                                   */
/* ================================================================================================================= */

* {font-family: garamond;}

div {
	text-align: justify;
	font-size: 28px;
}
.div-exterior {
	width: 540px;
	height: 856px;
	background-image: url(margines/i.png);
	background-size: cover;
	border: 1px #000000 solid;
	display: inline-block;
	margin: 1px;
}
.div-interior {
	width: 400px;
	margin: auto;
	padding-top: 70px;
}

.img-illustrationis {
	display: block;
	margin: auto;
}
.img-initiale {
	float: left;
	width: 91px;
	margin-right: 4px;
	margin-top: 4px;
}

.span-℟ {font-weight: bold;}
.span-rubidus {color: #990000;}
.span-titulus {
	font-weight: bold;
	font-size: 36px;
}
.span-℣ {font-style: italic;}

@media (max-width: 1000px) {

	* {font-family: garamond;}

}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                    Divinarium                                                     */
/*                                                                                                                   */
/* ================================================================================================================= */
