* {
	font-family: "garamond";
	font-size: 30px;
	text-align: justify;
}

body {background-color: #303841;}

div {
	width: 540px;
	height: 856px;
	background-image: url("margine.png");
	background-color: #ffffff;
	background-size: cover;
	border: 1px #000000 solid;
}
div div {
	width: 400px;
	margin: auto;
	padding-top: 70px;
	background: none;
	border: 0;
}
.occultatum {display: none;}

.illustrationis {
	display: block;
	margin: auto;
}
.initiale {
	float: left;
	width: 119px;
	margin-right: 4px;
	margin-top: 4px;
}

.℟,
.titulus {font-weight: bold;}
.℣ {font-style: italic;}
.✠ {
	color: #990000;
	font-style: normal;
}
